[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/omz/custom/themes/spaceship-prompt"]
	path = zsh/omz/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
	ignore = dirty
[submodule "zsh/omz/custom/plugins/zsh-autosuggestions"]
	path = zsh/omz/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
